@import "~antd/dist/antd.css";
@import "~reset-css";
@import "./layouts/chat";

body,
html,
#root,
.wrapper {
    height: 100%;
    color: #202020;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
        "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #e9e9e9;

}

* {
    outline: none;
}