.avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    &--symbol {
        color: #ffff;
        text-align: center;
        justify-content: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 39px;
    }
}
