@import "~styles/variables";
.message {
    $self: &;
    &__content {
        display: flex;
        max-width: 440px;
        margin-bottom: 20px;
        position: relative;
    }
    &__avatar {
        display: flex;
        flex-direction: column-reverse;
        img {
            border-radius: 50px;
            width: 33px;
            height: 33px;
            margin-right: 13px;
            margin-bottom: 5px;
        }
    }
    &__bubble {
        background: $blue;
        box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
        border-radius: 12px 12px 12px 0px;
        padding: 15px;
        margin-bottom: 8px;
    }
    // &__info {
    //     display: flex;
    // }
    &__attachments {
        display: flex;
        margin-bottom: 5px;
        &-items {
            margin-right: 5px;
            cursor: pointer;
            img {
                width: 45px;
                height: 45px;
                border-radius: 8px;
            }
        }
        &-item {
            cursor: pointer;
            img {
                width: 150px;
                height: 150px;
                border-radius: 8px;
            }
        }
    }
    &__text {
        color: #fff;
        line-height: 20px;
    }

    &--is-audio {
        audio {
            display: none;
        }
        #{$self}__bubble {
            position: relative;
            overflow: hidden;
        }
        #{$self}__audio {
            &-info {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                position: relative;
            }
            &-btn {
                button {
                    cursor: pointer;
                    width: 28px;
                    height: 28px;
                    background: #0f3997;
                    border-radius: 30px;
                    border: 0;
                    margin-right: 20px;
                    img {
                        height: 11px;
                        width: 10px;
                    }
                }
            }
            &-duration {
                font-size: 12px;
                color: #ffffff;
                opacity: 0.5;
                margin-left: 20px;
            }
            &-progress {
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                background-color: #418fff;
                transition: width 0.5s linear;
            }
        }
    }

    &--isme {
        display: flex;
        flex-direction: row-reverse;
        #{$self}__content {
            margin-bottom: 15px;
            flex-direction: row-reverse;
        }
        #{$self}__avatar {
            img {
                margin-right: 0;
                margin-left: 13px;
            }
        }
        #{$self}__info {
            display: flex;
            flex-direction: column-reverse;
        }
        #{$self}__date {
            display: flex;
            flex-direction: row-reverse;
        }
        #{$self}__bubble {
            background: $white;
            border: 1px solid #ececec;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
            border-radius: 12px 12px 0px 12px;
            order: 2;
            #{$self}__text {
                color: $black;
            }
        }
    }

    &--is-typing {
        #{$self}__bubble {
            background-color: $message-typing-blue;
            box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
        }
    }

    &__is-typing {
        span {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: $message-typing-circle;
            display: inline-block;
            margin-right: 8px;
            animation: 0.8s typingAnimation infinite ease-out 0.1s;

            &:nth-of-type(2) {
                animation: 0.8s typingAnimation infinite ease-out 0.2s;
            }
            &:nth-of-type(3) {
                animation: 0.8s typingAnimation infinite ease-out 0.3s;
                margin-right: 0;
            }
        }
    }
}

@keyframes typingAnimation {
    from {
        opacity: 0.2;
        transform: translateY(0px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-1.5px);
    }
    to {
        opacity: 1;
        transform: translateY(-1px);
    }
}
